@using System.Text.Json
@using System.Text
@{
  ViewData["Title"] = "Test Ortodoxo";
  Test test = new Test();
  string idBtn;
  ushort puntuacionActual = 0;
}
<script type="text/javascript">
  var terminado = '@ViewData["terminado"]'
</script>

<div class="text-center div-style-004 div-margin-001 div-padding-001">
  <h2 class="display-5">Quiz: Monumentos del mundo</h2>
  <div class="extra-space"></div>
  <button id="btn-inicia-test" type="button" class="neon-button-red" onclick="iniciaTest('pregunta_1')"> Iniciar el Test
  </button>
  <form method="POST">
    @for (ushort preguntaIndx = 0; preguntaIndx < test.Preguntas.Count; preguntaIndx++)
    {
      var pregunta = test.Preguntas[preguntaIndx];
      <div class="div-pregunta" id="pregunta_@pregunta.NumPregunta">
        <label id="lblIndicativo_@pregunta.NumPregunta">Pregunta @pregunta.NumPregunta de @test.Preguntas.Count</label>
        <p class="title extra-space">@pregunta.NumPregunta.ToString()) @pregunta.Pregunta</p>
        @for (ushort opcionIndx = 0; opcionIndx < pregunta.Opciones.Count; opcionIndx++)
        {
          var opcion = pregunta.Opciones[opcionIndx];
          idBtn = $"{pregunta.NumPregunta}_{opcion.Opcion}";
          <label class="opcion" id="lbl_@idBtn">
            &nbsp;&nbsp;&nbsp;<input class="readonly" type="radio" name="rbtn_@pregunta.NumPregunta" value="@opcion.Opcion"
          id="@idBtn">&nbsp;
            @opcion.Opcion
          </label>
        }
        <div class="extra-space"></div>
        <div class="rigth">
          <div class="block-line">
            <button id="buttonAceptar_@pregunta.NumPregunta" type="button" class="neon-button-cyan"
            onclick="aceptarPregunta(@pregunta.NumPregunta, @JsonSerializer.Serialize(pregunta.OpcionesCorrectas()))">
              Aceptar </button>
          </div>
          <div id="div_buttonSiguiente_@pregunta.NumPregunta" class="block-line hidden">
            <button id="buttonSiguiente_@pregunta.NumPregunta" type="button" class="neon-button-cyan"
            onclick="siguientePaso(@pregunta.NumPregunta, @test.Preguntas.Count)">
              Siguiente </button>
          </div>
        </div>
      </div>
    }
    <div id="counters" class="hidden">
      <div class="resultados-actuales">
        <label id="lblResultadoActual">@puntuacionActual</label>
        <label id="lblResultadoTexto"> inciso(s) correcto(s)</label>
      </div>
    </div>
    <div class="extra-space-001">
      <div id="resultados" class="hidden">
        <input type="submit" class="neon-button-cyan" value="Ver Resumen" />
      </div>
    </div>
  </form>
  <div id="resultadosSummary" class="formato-resultados">
    @{
      StringBuilder resultados = new StringBuilder();
      resultados.Append(ViewData.Eval("resultadosTest"));
      string[] print = resultados.ToString().Split("!SLN!");
      foreach(string linea in print)
      {

        <p>@linea&nbsp;</p>
      }
    }
  </div>
</div>
